{% extends 'accounts/base.html' %}

{% block title%}
Reset Success
{% endblock %}

{% block content %}
<div class=" h-screen grid place-items-center">
    <div class="p-4">

        <div class=" w-full flex justify-center text-green-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-32 h-32">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            
        </div>
        <h1 class="my-4 text-center font-medium  text-2xl">Password Updated! </h1>
        <p class="text-center text-lg">Your password has been changed successfully.</p>
        <p class="text-center text-lg">Use your new password to log in.</p>
    </div>
</div>
{% endblock %}